{% extends  'base.html' %}
{% block content %}

<div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{tasks.name}}</h5>
                    <p><b>{{tasks.priority}}</b></p>
                    <p><b>{{tasks.date}}</b></p>
                    <a class="btn btn-danger" href="{% url 'delete' tasks.id %}">Delete</a>
                    <a class="btn btn-warning" href="{% url 'update' tasks.id %}">Update</a>
                </div>
            </div>
{% endblock %}